.nav {
  max-width: 1200px;
  margin: 20px auto;

  img {
    width: 32px;
  }
}

.bg1 {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 477px;
  top: -30px;

  /* Primary / Solana Green */

  background: #14f195;
  opacity: 0.5;
  filter: blur(320px);
  pointer-events: none;
}

.bg2 {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0;
  top: 90px;
  background: #9945ff;
  opacity: 0.5;
  filter: blur(320px);
  pointer-events: none;
}
